<section class="about-us container">
  <div class="background">
    <div class="background-before">
      <img src="./assets/images/about-1.jpg" />
    </div>
  </div>

  <div class="info">
    <h5 class="pre-title">About Us</h5>

    <h1>Interioris The Will of An Epoch Mextreo</h1>

    <p>
      There are many variations of passages of Lorem Ipsum available, but the
      majority have suffered alteration in some form injected humour, or
      randomised words which don't look even slightly believable.If you are
      going to use a passage of Lorem Ipsum, sure there isn't anything
      embarrassing hidden the middleof text. All the Lorem Ipsum generators on
      the Internettend to repeat predefined chunks as necessary,making this the
      first true generator on the Internet.
    </p>

    <button class="btn-green">LEARN MORE</button>
  </div>
</section>

<section class="years-successful container">
  <div class="info">
    <h1 class="years">20</h1>

    <h2>Years Of Successful Working The Market</h2>

    <button class="btn-green">READ MORE</button>
  </div>

  <div class="background">
    <div class="background-before">
      <img src="./assets/images/about-2.jpg" />
    </div>
  </div>
</section>

<section class="completed-work">
  <h2>3000+ Completed Work Which WE have Successfully Done</h2>

  <div class="statistics container">
    <div class="card-white-sm project">
      <h2 class="card-title">980</h2>
      <p class="card-span">Project</p>
    </div>

    <div class="card-white-sm happy-client">
      <h2 class="card-title">520</h2>
      <p class="card-span">Happy Client</p>
    </div>

    <div class="card-white-sm winners">
      <h2 class="card-title">330</h2>
      <p class="card-span">Winners</p>
    </div>

    <div class="card-white-sm recoment">
      <h2 class="card-title">120</h2>
      <p class="card-span">Recoment</p>
    </div>
  </div>
</section>
