<footer class="footer">
  <div class="container">
    <ul>
      <li role="link" routerLink="">
        <img class="logo" src="/assets/images/logo.png" />
      </li>

      <li>
        But i must explain to you all this mistaken<br />idea of dencouncing
        pleasure.
      </li>
    </ul>

    <ul>
      <li><h3>Quick Links</h3></li>
      <li role="link" routerLink="">About Our Company</li>
      <li role="link" routerLink="">Services WE provide</li>
      <li role="link" routerLink="">Career & Opportunity</li>
      <li role="link" routerLink="">Privacy & policy</li>
      <li role="link" routerLink="">Contact US</li>
    </ul>

    <ul>
      <li><h3>Company</h3></li>
      <li role="link" routerLink="">About Company</li>
      <li role="link" routerLink="">Our Testimonials</li>
      <li role="link" routerLink="">Lasted News</li>
      <li role="link" routerLink="">Our mission</li>
      <li role="link" routerLink="">Get a free Quot</li>
    </ul>

    <ul>
      <li><h3>Contact us</h3></li>
      <li role="link" routerLink="">Sangrada Familia, Herba</li>
      <li role="link" routerLink="">Street Front USA</li>
      <li role="link" routerLink="">brandoxide@gmail.com</li>
      <li role="link" routerLink="">002-568423581</li>
    </ul>

    <ul class="follow-us">
      <li><h3>Follow Us</h3></li>

      <div class="links-container">
        <li role="link" routerLink="" class="btn-icon-gray">
          <i class="fab fa-facebook-f"></i>
        </li>

        <li role="link" routerLink="" class="btn-icon-green">
          <i class="fab fa-twitter"></i>
        </li>

        <li role="link" routerLink="" class="btn-icon-gray">
          <i class="fab fa-instagram"></i>
        </li>

        <li role="link" routerLink="" class="btn-icon-gray">
          <i class="fab fa-linkedin-in"></i>
        </li>
      </div>
    </ul>
  </div>

  <hr />

  <div class="copyright">
    <p>
      Copyright @ 2020 <a class="text-green" routerLink="">Brandoxide</a>.all
      right reserved.
    </p>
  </div>
</footer>
