<section class="project container">
  <div class="info">
    <h5 class="pre-title">Modern Interior</h5>

    <h1>Create Your Interior Design.</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation.
    </p>

    <button class="btn-green">CONTACT</button>
  </div>

  <div class="background-after">
    <img src="./assets/images/project.jpg" />
  </div>
</section>
