@import "../../../styles/styles.scss";

.shop {
  background-color: $gray-light-2;
  padding: 64px 0px;
}

.pre-title,
.title {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;

  @media (max-width: 480px) {
    display: block;
  }
}

.info-item {
  flex: 1;
  width: 100%;
  max-width: 450px;

  .btn-green {
    margin-top: 40px;
  }

  @media (max-width: 480px) {
    padding-right: 16px;

    & + & {
      margin-top: 64px;
    }
  }
}

.background-after {
  margin-bottom: 40px;

  img {
    border-radius: 100px 0px 100px 0px;
  }

  &::before {
    top: 10px;
    left: 10px;
    border-radius: 100px 0px 100px 0px;
  }

}
