<section class="shop">
  <h5 class="pre-title">Latest News</h5>
  <h2 class="title">From Our Blog</h2>

  <div class="info container">
    <div class="info-item">
      <div class="background-after">
        <img src="./assets/images/shop-1.jpg" />
      </div>

      <h3>2020 Interior Design Trends</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        incididunt ut labore et dolore magna aliqua.
      </p>

      <button class="btn-green">CONTINUE READING...</button>
    </div>

    <div class="info-item">
      <div class="background-after">
        <img src="./assets/images/shop-2.jpg" />
      </div>

      <h3>28 Notable Product at ARC Interior Design</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        incididunt ut labore et dolore magna aliqua.
      </p>

      <button class="btn-green">CONTINUE READING...</button>
    </div>
  </div>
</section>
