%background-base {
  @extend %hover-effect;
  position: relative;
  z-index: 98;
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 140px 0px 140px 0px;
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    border: 2px solid $brown-dark;
    border-radius: 140px 0px 140px 0px;
  }
}

.background-after {
  @extend %background-base;
  
  &::before {
    top: 25px;
    left: 25px;
  }
}

.background-before {
  @extend %background-base;
  
  &::before {
    top: -25px;
    right: 25px;
  }
}
