%card-base {
  @extend %hover-effect;

  position: relative;
  display: inline-flex;
  border-radius: 60px 0px 60px 0px;
  padding: 30px 16px 5px 30px;
  box-shadow: 6px 14px 22px -1px rgba($black, 0.2);
}

.card-icon {
  align-self: flex-start;
  width: 36px;
  height: 36px;
}

.card-img {
  border-radius: 35px 0px 35px 0px;
  height: 120px;
  width: 120px;
  margin-left: -60px;
}

.card-testimonial {
  padding-right: 30px;

  span,
  h3 {
    display: inline;
    word-break: break-all;
  }
}

.card-quot {
  position: absolute;
  right: 16px;
  top: 20px;
  font-size: 2rem;
  color: $brown-dark;

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.card-content {
  flex: 1;
  padding-left: 14px;

  p,
  span {
    font-size: 0.9rem;
  }

  p {
    margin-top: 8px;
  }
}

.card-white {
  @extend %card-base;

  background: $white;
}

.card-brown {
  @extend %card-base;

  background: $brown;

  * {
    color: $white;
  }
}

.card-white-sm {
  @extend .card-white;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  border-radius: 40px 0px 40px 0px;
  width: 145px;

  .card-title,
  .card-span {
    margin: 0px;
  }

  .card-span {
    text-align: center;
  }
}
