$green: #37806b;

$brown: #caa892;
$brown-dark: #b0855b;

$gray-light-1: #eeeeee;
$gray-light-2: #f8f8f8;
$gray: #d5d5d5;
$gray-dark: #C4C4C4;

$black-light: #646464;
$black: #212121;

$white: #ffff;
