<section class="services container">
  <h5 class="pre-title">What We Do</h5>

  <h2>Our Service</h2>

  <div class="cards-container">
    <div class="card-white">
      <img class="card-icon" src="/assets/images/icons/interior-design.png" />

      <div class="card-content">
        <h3>Interior Design</h3>

        <p>
          Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor.
        </p>
      </div>
    </div>

    <div class="card-brown">
      <img class="card-icon" src="/assets/images/icons/architecture.png" />

      <div class="card-content">
        <h3>Architecture</h3>

        <p>
          Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor.
        </p>
      </div>
    </div>

    <div class="card-white">
      <img class="card-icon" src="/assets/images/icons/planning.png" />

      <div class="card-content">
        <h3>Planning</h3>

        <p>
          Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor.
        </p>
      </div>
    </div>
  </div>
</section>
