<section class="blog container">
  <h5 class="pre-title">Testimonials</h5>

  <h2 class="title">Client says about us</h2>

  <div class="cards-container">
    <div class="card-white">
      <img class="card-img" src="/assets/images/testimonial-1.jpg" />

      <i class="fas fa-quote-right card-quot"></i>

      <div class="card-content">
        <div class="card-testimonial">
          <h3>Louis Saville</h3>&nbsp;
          <span>/CEO at Google inc</span>
        </div>
        
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

    <div class="card-white">
      <img class="card-img" src="/assets/images/testimonial-2.jpg" />

      <i class="fas fa-quote-right card-quot"></i>

      <div class="card-content">
        <div class="card-testimonial">
          <h3>Rekha Varad</h3>&nbsp;
          <span>/Manager at Nike inc</span>
        </div>
        
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>
